*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #2E8BC0;
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
.claimBtn{
    border: 2px solid green;
    background-color: #0C2D48;
    font-size: 1.2em;
    color: #B1D4E0;
    height: 7em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.head{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.head div{
    padding: 0.1em;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 1.4em;
}
.brand{
    font-size: 1.4em;
    color: #B1D4E0;
}
#otpcontainer{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#otp_window{
    position: relative;
    top: 5em;
    background-color: #bddbe2;
    width: 80vw;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5em;
}
#otp_window .cont{
    padding-top: 1em;
}

#otp_window #otp{
    position: relative;
    text-align: center;
    border: none;
    height: 3.5em;
    width: 12em;
    border-radius: 1em;
}
#otp_window input:focus{
    outline:0;
}
#otp_window #otpbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 139, 192);
    width: 10em;
    height: 3.2em;
    border-radius: 1em;
}
.chart{
    padding-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.chart .percentge{
    width: 65%;
}

.intro{
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro div{
    padding-bottom: 0.5em;
}
.intro .std, .intro .name, .intro .sub{
    color: aliceblue;
}
@media only screen and (min-width: 600px) {
    .chart .percentge{
        width: 30%;
    }
}